
extends layout
block content
	include header.pug
	.mainBeer
	.mainBeer-content
		.mainBeer-title brilliant beer
		.mainBeer-text
			| Our very, very dedicated team of tasters have taken it upon themselves to try as many beers as possible. This is obviously a hard job but we feel it necessary to keep up to date with what&rsquo;s hot and avoid what&rsquo;s not. That&rsquo;s why our lists vary from place to place and from season to season. We find it very hard to sit still. Below are a few examples of the types of breweries we&rsquo;re working with across the different houses.
		.mainBeer-brands
			.mainBeer-1
			.mainBeer-2
			.mainBeer-3
			.mainBeer-4
			.mainBeer-5