extends layout
block content
	header
		a(href='https://fierce-reaches-84796.herokuapp.com/') Home
		a(href='https://fierce-reaches-84796.herokuapp.com/pubs') Pubs
		a(href='https://fierce-reaches-84796.herokuapp.com/beer') Beers
		a(href='https://fierce-reaches-84796.herokuapp.com/404') Food
		a(href='https://fierce-reaches-84796.herokuapp.com/404') Sign Up
		a(href='https://fierce-reaches-84796.herokuapp.com/buddy') Contact Us
