extends layout
block content
	header
		a(href='http://localhost:3000/') Home
		a(href='http://localhost:3000/pubs') Pubs
		a(href='http://localhost:3000/beer') Beers
		a(href='http://localhost:3000/404') Food
		a(href='http://localhost:3000/404') Sign Up
		a(href='http://localhost:3000/buddy') Contact Us
