
extends layout
block content
  include header.pug
  .mainHome
   .home-logo
   .bottle
  .beerhouse
   .beerhouse-logo
   .beerhouse-title the beer house
   .beerhouse-row
   .beerhouse-text
    | A HOUSE WITH BEER. WHAT MORE DO YOU WANT? The Beer House pubs and kitchens can be found in train stations and airports from London to Glasgow. We&rsquo;re proud to be the happy medium between out-and-out craft houses and city bars, serving up a brilliant range of big name beers, local heroes and classic crafts. Proper pints, awesome food and all with huge amounts of modesty (obviously). The way we see it, we only drink great beer. .. so we only sell great beer. From hot wings to craft lagers, hand pressed burgers to chocolate porters and not forgetting the best bacon bap 7am has ever seen&mldr;
  .barrels