
extends layout
block content
  include header.pug
  .mainPubs
    .mainPubs
    .mainPubs-content
      .mainPubs-content-title manchester victoria
      .mainPubs-content-text
        | Manchester Victoria is Manchester&rsquo;s second largest mainline railway station, but with a Beer House tucked inside, we think it&rsquo;s the best station in the city. Come and enjoy a pint or two in a truly gorgeous Edwardian setting.
        br
        | &#x9;&#x9;&#x9; Manchester Victoria Station, Hunts Bank, 
        |       M3 1NY 
        br
        |       Tel: 0161 8359 586 
        br
        br
        | &#x9;&#x9;&#x9;Opening times:
      .mainPubs-content-opens-text
        | Mon-Thurs 07:30 &ndash; 23:00,
        br
        |         Fri 07:30 &ndash; 00:00,
        br
        |         Sat 08:30 &ndash; 00:00,
        br
        |         Sun 09:30 &ndash; 22:00
